body {
    margin: 0;
}

pre {
    margin: 0;
}

#example {
    position:relative;
    height: 600px;
    overflow: hidden;
}

.danmaku {
    position: absolute;
    white-space: nowrap;
    left: 0%;
}

@keyframes move {
    from {
        left: 100%;
        transform: translateX(0);
    }

    to {
        left: 0%;
        transform: translateX(-587px);
    }
}

.senddanmaku {
    position: absolute;
    left:0;
    bottom: 0;
}
